<div class="tavern-dialog goblin-hold-dialog">
  <p><strong>{{localize "TAVERN.GoblinHold.Leading"}}</strong></p>
  <p>{{localize "TAVERN.GoblinHold.Prompt"}}</p>

  <div class="dialog-actions">
    <button type="button" class="btn btn-hold" data-action="hold">
      <i class="fa-solid fa-hand"></i> {{localize "TAVERN.Hold"}}
    </button>
    <button type="button" class="btn btn-primary" data-action="continue">
      <i class="fa-solid fa-forward"></i> {{localize "TAVERN.GoblinHold.Continue"}}
    </button>
  </div>
</div>
