<div class="tavern-dialog private-feedback-dialog">
  <div class="private-feedback-body">{{{content}}}</div>
  <div class="dialog-actions">
    <button type="button" class="btn btn-primary" data-action="close">
      <i class="fa-solid fa-check"></i> OK
    </button>
  </div>
</div>
